<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add car</title>
</head>
<body>
    <h1>Add car</h1>
    <form method="post">
        {{ form.hidden_tag() }}

        {{ form.engine_displacement.label }}: {{ form.engine_displacement() }}<br>
        {{ form.max_speed.label }}: {{ form.max_speed() }}<br>
        {{ form.type_of_fuel.label }}: {{ form.type_of_fuel() }}<br>

        <input type="submit" value="Add">
    </form>
    <form method="GET" action="{{ url_for('index') }}">
        <button>Return</button>
    </form>
</body>
</html>
