<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add car</title>
</head>
<body>
    <h1>Add car</h1>
    <form method="post">
        <label for="engine_displacement">Engine displacement</label>
        <input type="number" step="any" name="engine_displacement" required><br>

        <label for="max_speed">Max speed</label>
        <input type="number" step="any" name="max_speed" required><br>

        <label for="type_of_fuel">Fuel type</label>
        <input type="number" name="type_of_fuel" required><br>

        <input type="submit" value="Add">
    </form>
    <form method="GET" action="{{ url_for('index') }}">
        <button>Return</button>
    </form>
</body>
</html>
