<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car table</title>
</head>
<body>
    <h1>List of cars</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Seq</th>
                <th>ID</th>
                <th>Engine displacement</th>
                <th>Max speed</th>
                <th>Fuel type</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ row.id }}</td>
                    <td>{{ row.engine_displacement }}</td>
                    <td>{{ row.max_speed }}</td>
                    <td>{{ row.type_of_fuel }}</td>
                    <td>
                        <form method="POST" action="/delete/{{ row.id }}">
                            <input type="submit" value="X" >
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <form method="GET" action="{{ url_for('add') }}">
        <button>Add</button>
    </form>
</body>
</html>