<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car table</title>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Engine displacement</th>
                <th>Max speed</th>
                <th>Fuel type</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                    <td>{{ row.id }}</td>
                    <td>{{ row.engine_displacement }}</td>
                    <td>{{ row.max_speed }}</td>
                    <td>{{ row.fuel_type }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>